﻿<%@ Page Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" %>

<asp:Content runat="server" ContentPlaceHolderID="concept">
    <p>This is my My ASP.Net page!</p>
    <br />
</asp:Content>