﻿ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

    li a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover:not(.active) {
            background-color: #aaaebc;
        }

.active {
    background-color: #49d810;
}




.square {
    width: 100px;
    height: 100px;
    background: red;
    -webkit-transition: width 5s;
    transition: width 2s;
}

 .square:hover {
        width: 700px;
    }