﻿<%@ Page Language="C#" MasterPageFile="~/site.master" AutoEventWireup="true" %>

<asp:Content runat="server" ContentPlaceHolderID="concept">
    <p>This is my JavaScript Page!</p>

<button onclick="myFunction()">Click Me!</button>

<script>
function myFunction() {
    alert("Thank You for checking my JavaScript Page!");
}
</script>

    
</asp:Content>

